{{#d-modal-body}}
  {{component model.component model=componentModel}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    label="insert"
    icon="plus"
    action=(action "insertTag")
    class="btn-primary"
  }}
  {{d-modal-cancel close=(route-action "closeModal")}}
</div>
